body, html
{
    height:100%;
}
body
{
    display:grid;
    grid-template-columns: repeat(1,2fr) repeat(1, 4fr);
    grid-template-rows: repeat(1,1fr) repeat(1,4fr) repeat(1,1fr);
}

.header
{
    display: grid;
    grid-template-columns: repeat(1,3fr) repeat(4,2fr);
    border: 1px solid black;
    grid-column: 1/6;
}
.corner
{
    border:1px solid black;
}

.article
{
    grid-column: 2/6;
    border: 1px solid black;
}

.footer
{
    grid-column: 1/6;
    border: 1px solid black;
}